
body {
    margin: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.topbox{
    display: flex;
    justify-content: space-between;
}
.topo {
    width: 100%;
    height: 100px;
    background-color: rgb(41, 68, 125);
    display: flex;
    align-items: center;
}
.subtopo{
    width: 100%;
    height: 90px;
    background-color: rgb(4, 4, 95);
}
.anuncio{
    display: none;
    width: 100%;
    height: 260px;
}
.logo {
    height: 71px;
    width: 71px;
}
.h1 {
    font-size: 10px;
    color: white;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.h2{
    display: block;
    height: 100%;
    color: white;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h22{
    display: none;
    height: 100%;
    color: white;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-coluna {
    display: grid;
    grid-template-rows: repeat(10, auto);
    gap: 15px;
    margin-top: 35px;
    width: 390px;
    margin-left: auto;
    margin-right: auto;
}
.txt{
    color: white;
    font-size: 30px;
    margin-right: 40px;
    font-family: "Oswald", sans-serif;
}
.retangulo {
    width: 367px;
    height: 64px; 
    background-color: rgb(17, 17, 77);
    border: 2px solid red; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    gap: 10px; 
    padding: 10px; 
}
.retangulo img {
    height: 60px;
    width: auto; 
    margin: 5px 10px 5px 5px;
}
.rodape{
    margin-top: 35px;
    width: 100%;
    height: 230px;
    background-color: rgb(4, 4, 20);
}
.logofinal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo2 {
    margin-top: 20px;
    height: 71px;
    width: 71px;
}
.desc{
    font-size: 20px;
    margin-top: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.redessociais{
    margin-top: 40px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media(min-width: 768px){
   .topo{
    background-color: rgb(93, 49, 134);
   }
   .subtopo{
    height: 60px;
   }
   .h2{
    display: none;
   }
   .anuncio{
    display: block;
   }
}
